#hero {
    width: 100%;
    height: 100vh;

    background: url(img/background.jpg) fixed top center;
    background-size: cover;
    position: relative;
}

#hero .container {
    position: relative;
    padding-top: 75px;
}

#hero h1 {
    margin: 0;
    font-size: 56px;
    font-weight: 700;
    line-height: 64px;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

#hero h2 {
    color: #fff;
    margin: 10px 0 0 0;
    font-size: 24px;
}

#hero .icon-box h3 {
    color: #fff;
    font-weight: 700;
    margin-top: 10px;
    padding: 0;
    font-size: 20px;
    line-height: 26px;
}

.icon-box {
    padding: 20px 30px;
    border: solid rgba(255,255,255,0.3);
    height: 100%;
    text-align: center;
}

.about ul li {
    list-style: none;
}

.cta {
    background: linear-gradient(rgba(2,2,2,0.5), rgba(2,2,2,0.8)), url(/img/background.jpg) fixed center center;
    padding: 80px 0;
    color: #fff;
}

.cta h3 {
    font-weight: 700;
    font-size: 28px;
}

.cta-btn {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border: 2px solid white;
    border-radius: 4px;
    color: white;
    margin-top: 10px;
}

.team {
    padding: 60px;
}

.team .member {
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
}

.team .member .member-img {
    position: relative;
    overflow: hidden
    ;
}

.team .member .social {
    position: absolute;
    left: 0;
    top: 10px;
    right: 0;
    opacity: 0;
    transition: ease-in-out 0.3s;
}

.team .member .social a {
    transition: color 0.3s;
    color: #151515;
    margin: 0 3px;
    padding-top: 7px;
    border-radius: 4px;
    width: 36px;
    height: 36px;
    background:rgba(255, 255, 255, 0.8);
    display: inline-block;
} 

.team .member .social a:hover {
    background: #ffc451;
}

.team .member .member-info {
    padding: 25px 15px;
}

.team .member .member-info h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 18px;
}

.team .member .member-info span {
    display: block;
    font-size: 13px;
    font-weight: 400;
    color: #aaaaaa;
}

.team .member .member-info p {
    font-size: 14px;
    font-style: italic;
    line-height: 26px;
    color: #777777;
}

.team .member:hover .social {
    opacity: 1;
    bottom: 15px;
} 

.footer-top {
    background: #151515;
    color: #fff;
    border-bottom: 1px solid #222222;
    padding: 60px 0 30px 0;
}
